html {
font-family: Arial, Helvetica, sans-serif;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
display: grid;
grid-template-areas: 
'header header header header header header'
'menu main main main main main'
'footer footer footer footer footer footer';
gap: 10px;
padding: 10px;
}

.grid-container > div {
background-color: #373737ff;
text-align: center;
padding: 20px ;
}

@media screen and (max-width: 600px) {
.grid-container {
display: grid;
grid-template-areas: 
'header header header'
'menu menu menu'
'main main main'
'footer footer footer';
gap: 10px;
padding: 10px;
}
iframe {
    height: 120%; overflow: auto;
}
::placeholder {
    font-size: 70%;
}
}

body {
background-color: #141414ff;
color: yellow;
font-size: 1.3em;
}    

header {
font-size: xx-large;
}

h1 {
text-align: center;
}

h2 {
text-align: left;
}
    
h3 {
text-align: center;
}

img {
vertical-align: middle;
padding-right: 5px;
width: 130px;
height: 150px;
}

ul {
text-align: left;
}

.item2 li {
font-size: larger;
padding-bottom: 2em;
}

a {
color: green;
}

a:visited {
color: lightgray;
}

.note {
font-size: smaller;
}

form {
    border-radius: 0.3em;
    background-color: rgb(87, 84, 84);
    padding: 1em;
    display: flex;
    flex-direction:column ;
    align-items: center;
}

form input, form textarea {
    width: 50%; 
    padding: 0.3em;
    border: 1px solid;
    border-radius: 0.3em;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

form input[type=submit] {
    background-color: #04AA6D;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

form input[type=submit]:hover {
    background-color: #45a049;
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;    ;
}

footer {
    font-size: smaller;
}

.fa {
    padding: 0.5em;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}

.fa:hover {
    opacity: 0.6;
}

.fa-instagram {
    background:#fb3958;
    color: white;
}

.fa-linkedin {
    background: #007bb6;
    color: white;
}

.fa-github {
    background: #333;
    color: white;
}

iframe {
    width: 100%;
    height: 1122px;
}