body {
    background-color: #ccffff;
}

#wrapper {
    width: 85%; 
    min-width:760px; 
    margin:0 auto; 
    border:2px solid blue; 
    background-color:#FFF; 
    padding:10px 5px 0;
}

h1 {
    text-align:center; 
    color:#330066;
}

h2 {
    text-align:center; 
    color:blue;
}

h3 {
    text-align:center; 
    letter-spacing:5px;
}

p::first-letter {
    font-size: 250%;
    color: #990000;
}

img {
    width: 150px;
    height: 140px;
    float: left;
    margin-right: 20px;
}

#nav {
    text-align: center;
}

#nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #990000;
    color: white;
    border-radius: 12px;
    margin-right: 10px;
}

#footer {
    height: 100px;
    line-height: 100px;
    clear:both; 
    background-color: #990000; 
    text-align:center; 
    font-size:65%; 
    font-weight:bold; 
    color:white;
}

#footer p::first-letter {
    font-size: 100%;
    color: white;
}